html,
body {
  margin: 0;
  height: 100%;
}

/* body自体はスクロールさせない */
body {
  overflow: hidden;
  font-family: sans-serif;
}

/* 画面全体 */
.page {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 430px) 1fr;
  background: #f7efe3;
}

/* 左右の固定エリア */
.side {
  height: 100dvh;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
}

/* 仮の背景 */
.side-left {
  background-image: url("./left-bg.jpg");
}

.side-right {
  background-image: url("./right-bg.jpg");
}

/* 中央だけスクロール */
.center-scroll {
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;

  /* スマホでスクロールを自然にする */
  -webkit-overflow-scrolling: touch;
}

.firstview h1 {
  margin: 0;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 17px;
  background-color: #ff5000;
}

.firstview h2 {
  margin: 0;
  padding-left: 30px;
  color: #ff5000;
  font-size: 100px;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
}

.firstview div.purin {
  position: relative;
}

.firstview div.purin img {
  width: 100%;
  height: 380px;
}

.firstview div.hukidashi img {
  position: absolute;
  width: 330px;
  height: 200px;
  top: 200px;
  left: 110px;
}

.firstview div.purin p {
  position: absolute;
  top: 240px;
  left: 145px;
  font-size: 15px;
  text-align: center;
  background-repeat: no-repeat;
}

.firstview div.manken img {
  width: 100%;
  height: 300px;
}

.firstview div.azarashi {
  position: relative;
}

.firstview div.azarashi img {
  width: 100%;
  height: 380px;
}

.firstview div.hukidashi2 img {
  position: absolute;
  width: 330px;
  height: 200px;
  top: 200px;
  left: 10px;
}

.firstview div.azarashi p {
  position: absolute;
  top: 230px;
  left: 45px;
  font-size: 17px;
  text-align: center;
  background-repeat: no-repeat;
}

/* mankenのアニメーション */

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.marquee-content {
  display: flex;
  gap: 20px; /* テキスト同士の間隔 */
  animation: marquee-loop 10s linear infinite;
}

@keyframes marquee-loop {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%); /* 半分の位置まで移動 */
  }
}

/* ここから文化祭の紹介 */

.festival {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 200px;
}

.festival h1 {
  font-family: "Alfa Slab One", serif;
  position: absolute;
  top: -20px;
  left: 40px;
  font-size: 35px;
  color: #397fff;
  margin-left: 10px;
}

.festival p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  padding-top: 50px;
  width: 380px;
  height: 330px;
  font-size: 18px;
  margin: 20px;
  text-align: center;
  background-color: #ffe432;
  text-decoration: underline #ff5000 0.8px;
  text-underline-offset: 2px;
  border-radius: 80px;
}

.slick-initialized .slick-slide {
  border: #ff5000 1px solid;
  border-radius: 45px;
  margin: 0px 5px;
  padding: 0px;
}

.slide-img {
  width: 100%;
  height: auto;
  border-radius: 45px;
}

.contents h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 35px;
  color: #0088e8;
  text-align: center;
}

.contents p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 12px;
  color: #ff5000;
  text-align: center;
  font-weight: 700;
}

/* ここから部誌の紹介 */

.clubcomic {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 570px;
  background-image: url(images/comic-haikei.png);
  background-size: cover;
}

.clubcomic h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4a49ff;
}

.clubcomic .hyoushi img {
  position: absolute;
  top: 30px;
  width: 265px;
  height: auto;
  margin: 30px;
  z-index: 1;
}

.clubcomic .urahyoushi img {
  position: absolute;
  top: 260px;
  left: 220px;
  width: 175px;
  height: auto;
  z-index: 2;
  box-shadow: 0px 0px 10px #47463d;
}

.clubcomic h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  position: absolute;
  font-size: 15px;
  top: 400px;
  left: -10px;
  padding: 10px;
  font-weight: lighter;
  text-decoration: underline #ff5000 0.8px;
  text-underline-offset: 2px;
}

/* ここからイラスト本の紹介 */

.illustrationbook {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 280px;
  background-color: #3493ff;
}

.illustrationbook h1 {
  position: absolute;
  margin: 0;
  top: 10px;
  left: 10px;
  font-family: "Alfa Slab One", serif;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff5000;
  z-index: 2;
}

.illustrationbook img {
  position: absolute;
  top: 25px;
  left: 60px;
  width: 300px;
  height: 240px;
}

.illustrationbook p {
  position: absolute;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 15px;
  padding: 10px;
  font-weight: lighter;
  text-decoration: underline #ff5000 0.8px;
  text-underline-offset: 2px;
  top: 160px;
  right: 0;
}

/* ここからボードの紹介 */

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 370px;
  background-color: #3493ff;
}

.board img {
  position: absolute;
  width: 130px;
}

.boardimages img {
  width: 120px;
}

.board-haikei1 {
  position: absolute;
  top: 5px;
  right: 10px;
}

.board-haikei2 {
  position: absolute;
  bottom: 0px;
  left: 10px;
}


.board .boardimages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.board .boardimages .board1 img {
  position: absolute;
  left: 40px;
  margin: 0;
  transform: rotate(-22deg);
}

.board .boardimages .board2 img {
  position: absolute;
  left: 155px;
  top: 80px;
  margin: 0;
}

.board .boardimages .board3 img {
  position: absolute;
  right: 40px;
  margin: 0;
  transform: rotate(22deg);
  z-index: 2;
}

.board h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff5000;
  margin-top: 20px;
}

.board p {
  display: flex;
  text-align: center;
  position: absolute;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 15px;
  padding: 10px;
  font-weight: lighter;
  color: #fff;
  top: 250px;
}

/* ここからアクキーとポスカの紹介 */

.else {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(images/else_haikei.png);
  background-size: cover;
}

.postcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.postcard h1 {
  font-size: 25px;
  font-family: "Alfa Slab One", serif;
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff5000;
}

.postcard img {
  width: 140px;
  height: 160px;
}

.keyring {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.keyring h1 {
  font-size: 25px;
  font-family: "Alfa Slab One", serif;
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff5000;
}

.keyring img {
  width: 140px;
  height: 160px;
}

/* ここからタブ */

.tab-area {
  padding: 0;
  margin: 0;
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-area .tab-list {
  width: 370px;
  display: flex;
}

.tab-area .tab {
  width: 185px;
  cursor: pointer;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid #569069;
  border-bottom: none;
  background-color: #fff;
  border-radius: 15px 15px 0px 0px;
  font-family: "Alfa Slab One", serif;
  font-size: 15px;
  color: #fff;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #136608;
}
.tab-area .tab.-active {
  border: none;
  background-color: #06b267;
  color: #cdf0e1;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #663608;
}

.tab-area .tab-panel {
  width: 330px;
  height: 230px;
  padding: 20px;
  display: none;
  border-radius: 0px 0px 13px 13px;
  line-height: 1.75;
  background-color: #06b267;
}
.tab-area .tab-panel.-active {
  display: block;
}

.request-setsumei {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-setsumei h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 20px;
  color: #cdf0e1;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #663608;
}

.request-setsumei p {
  color: #fff;
  font-size: 11px;
}

.request-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.request-content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 105px;
  background-color: #fff;
  border-radius: 15px;
  margin-right: 10px;
}

.request-content1 img {
  padding: 5px;
  width: 85px;
  height: 80px;
}

.request-content1 p {
  color: #000;
  font-size: 8px;
}

.request-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 105px;
  background-color: #fff;
  border-radius: 15px;
}

.request-content2 img {
  padding: 5px;
  width: 85px;
  height: 80px;
}

.request-content2 p {
  color: #000;
  font-size: 8px;
}

.request-content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 105px;
  background-color: #fff;
  border-radius: 15px;
  margin-left: 10px;
}

.request-content3 img {
  padding: 5px;
  width: 85px;
  height: 80px;
}

.request-content3 p {
  color: #000;
  font-size: 7px;
}

.yosegaki {
  position: relative;
}

.yosegaki-setsumei p {
  position: absolute;
  font-size: 11px;
  color: #fff;
}

.yosegaki-setsumei1 img {
  position: absolute;
  width: 200px;
  height: 130px;
  left: 20px;
  top: 80px;
}

.yosegaki-setsumei2 img {
  position: absolute;
  width: 160px;
  height: 80px;
  top: 160px;
  right: 50px;
}

/* ここからメンバー紹介 */

#idWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 430px;
  margin: 0 auto;
  text-align: left;
  background-color: #ffe432;
}

#idWrap h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #000000;
}

#idWrap img {
  width: 180px;
  height: 240px;
  box-shadow: 0px 0px 10px #47463d;
}

#idCarousel {
  position: relative;
  width: 430px;
  height: 500px;
  overflow: scroll;
}

.left {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 20px;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.right {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 20px;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.left:hover,
.right:hover {
  color: #666666;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 245px;
  background-image: url(images/無題1577.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.links h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #0046ae;
}

.links p {
  font-size: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: lighter;
}

.link-contents {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.insta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insta p {
  font-size: 10px;
}

.insta img {
  width: 50px;
  height: auto;
}

.facebook {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facebook p {
  font-size: 10px;
}

.facebook img {
  width: 50px;
  height: auto;
}
.official {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.official img {
  width: 50px;
  height: auto;
}

.official p {
  font-size: 10px;
}

/* ------------------------------ */

/* ==============================
   tab2 全体
================================ */

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F50000;
}


.tab2 {
  position: relative;

  width: 430px;
  height: 500px;

  margin: 0 auto;

  background-image: url(images/アートボード\ 1.png);
  background-size: 100% 100%;
}

/* ==============================
   白いカード
================================ */

.tab2-panels {
  position: absolute;

  top: 0;
  right: 0;

  width: 350px;
  height: 430px;

  background: #fff;

  border-radius: 45px;

  overflow: hidden;

  padding:0px;
  border: #848484 1px solid;
}

/* ==============================
   タブ一覧
================================ */

.tab2-list {
  position: absolute;

  top: 35px;
  left: 0;

  z-index: 10;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

/* ==============================
   タブボタン
================================ */

.tab2-button {
  width: 60px;
  height: 60px;

  padding: 0;

  border: none;

  display: flex;
  align-items: center;

  overflow: hidden;

  cursor: pointer;

  transition:
    width 0.4s cubic-bezier(0.2, 0.8, 0.2, 1),
    transform 0.2s ease;
}

/* 選択中 */

.tab2-button[aria-selected="true"] {
  width: 220px;
}

/* ==============================
   季節カラー
================================ */

.tab2-spring {
  background: #f88bc1;
}

.tab2-summer {
  background: #4cc8ec;
}

.tab2-autumn {
  background: #ffb541;
}

.tab2-winter {
  background: #bdbdbd;
}

#tab2-panel-spring {
  background-image: url(images/note.png);
  background-size: cover;
}

#tab2-panel-summer {
  background-image: url(images/note.png);
  background-size: cover;
}

#tab2-panel-autumn {
  background-image: url(images/note.png);
  background-size: cover;
}

#tab2-panel-winter {
  background-image: url(images/note.png);
  background-size: cover;
}

/* ==============================
   アイコン
================================ */

.tab2-icon {
  width: 60px;
  height: 60px;

  flex-shrink: 0;

  display: grid;
  place-items: center;
}

.tab2-icon img {
  width: 38px;
  height: 38px;

  object-fit: contain;
}

/* ==============================
   Springなどの文字
================================ */

.tab2-label {
  margin-left: 18px;

  font-size: 30px;
  font-weight: 400;

  white-space: nowrap;

  opacity: 0;

  transform: translateX(-10px);

  transition:
    opacity 0.2s ease 0.08s,
    transform 0.3s ease 0.08s;
}

.tab2-button[aria-selected="true"] .tab2-label {
  opacity: 1;

  transform: translateX(0);
}

/* ==============================
   hover
================================ */

.tab2-button:hover {
  transform: translateX(3px);
}

/* ==============================
   キーボードフォーカス
================================ */

.tab2-button:focus-visible {
  outline: 3px solid #222;
  outline-offset: 3px;
}

/* ==============================
   パネル
================================ */

.tab2-panel {
  position: relative;

  /* width: 100%; */
  height: 100%;

  padding: 100px 35px 40px 30px;

  animation: tab2-fade-in 0.35s ease;
}

.tab2-panel[hidden] {
  display: none;
}

/* ==============================
   説明文
================================ */

.tab2-description1 {
  margin: 0 0 30px;

  font-size: 15px;
  line-height: 1.8;
}
.tab2-description2 {
  position: absolute;
  top: 200px;
  margin: 0 0 30px;

  font-size: 15px;
  line-height: 1.8;
}
.tab2-description3 {
  position: absolute;
  top: 30px;
  margin: 0 0 30px;

  font-size: 15px;
  line-height: 1.8;
}
.tab2-description4 {
  margin: 0 0 30px;

  font-size: 15px;
  line-height: 1.8;
}

/* ==============================
   写真
================================ */

.tab2-photos {
  position: relative;

  height: 350px;
}

.tab2-photo {
  position: absolute;

  object-fit: cover;

  background: #ddd;
}

/* 左側メイン */

.tab2-photo-main {
  top: 0;
  left: 10px;

  width: 190px;
  height: 190px;

  z-index: 2;
}

/* 右下 */

.tab2-photo-sub {
  top: 125px;
  left: 145px;

  width: 160px;
  height: 150px;

  z-index: 1;
}

/* ==============================
   アニメーション
================================ */

@keyframes tab2-fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: #FF5000;
  overflow: hidden;
  position: relative;
}

.faq-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 510px;
  background-color: #d9d9d9;
  border-radius: 45px;
  overflow: hidden;
  position: relative;
}

/* 上の白い部分 */
.faq-header {
  width: 350px;
  height: 60px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;
  box-sizing: border-box;

  position: relative;
  z-index: 10;
}

.faq-header h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #262626;
}

.faq-icons {
  font-size: 25px;
}

/* トーク画面 */
.faq-chat {
  height:510px;

  padding: 30px 25px 80px;

  box-sizing: border-box;

  overflow-y: auto;
}

/* スクロールバーを消す */
.faq-chat::-webkit-scrollbar {
  display: none;
}

.faq-chat {
  height: calc(100% - 60px);

  overflow-y: auto;

  scroll-snap-type: y mandatory;

  scrollbar-width: none;
}

.faq-chat::-webkit-scrollbar {
  display: none;
}

/* 質問 */
.faq-question {
  width: 255px;
  min-height: 48px;

  background-color: #fff;

  border: 4px solid #ff5000;
  border-radius: 30px;

  padding: 8px 20px;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 12px;

  margin-bottom: 20px;

  position: relative;
}


/* 回答 */
.faq-answer {
  width: 250px;

  background-color: #fff;

  border: 4px solid #35b5c4;
  border-radius: 30px;

  padding: 15px;

  box-sizing: border-box;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 14px;
  line-height: 1.7;

  margin-left: auto;
  margin-bottom: 45px;

  position: relative;
}

.faq-set {
  height: 100%;

  box-sizing: border-box;

  padding: 30px 25px;

  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0;
  transform: translateY(25px) scale(0.92);
}

.faq-set.show {
  animation: faqSetIn 0.8s ease-out forwards;
}

@keyframes faqSetIn {

  0% {
    opacity: 0;
    transform: translateY(25px) scale(0.92);
  }

  50% {
    opacity: 1;
    transform: translateY(-5px) scale(1.03);
  }

  75% {
    transform: translateY(2px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

}

/* ふわっとださせる */
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

.background {
  position: absolute;
  z-index: 5;
}

.fadein {
  position: relative;
  z-index: 10;
}